Repository elioetibr/rust-yaml: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt, rust-clippy, rust-clippy-tests, rust-check, rust-doc, rust-audit, rust-deny, cargo-lock-check, rust-unused-deps, markdown-format-check, github-actions-check

Path conditions:
  rust-fmt: any of: \.rs$
  rust-clippy: any of: \.rs$
  rust-clippy-tests: any of: \.rs$
  rust-check: any of: \.rs$
  rust-doc: any of: \.rs$
  rust-audit: any of: Cargo\.(toml|lock)$
  rust-deny: any of: (Cargo\.(toml|lock)|deny\.toml)$
  cargo-lock-check: any of: Cargo\.(toml|lock)$
  rust-unused-deps: any of: Cargo\.toml$
  markdown-format-check: any of: \.md$
  github-actions-check: any of: ^\.github/workflows/.*\.(yml|yaml)$

build(mise): adopt the standard layout with pinned tools and namespaced tasks
  mise.lock
  mise.toml
Due: none

build(gitignore): add ignorefile.toml as the .gitignore source of truth
  .gitignore
  ignorefile.toml
Due: none

chore(license): add LICENSES directory and REUSE.toml annotations
  LICENSES/Apache-2.0.txt
  LICENSES/MIT.txt
  REUSE.toml
Due: none

fix(ci): quote shell variables and group step-summary redirects in workflows
  .github/actionlint.yaml
  .github/actions/setup-cargo-tools/action.yml
  .github/actions/setup-rust-cache/action.yml
  .github/scripts/create-docs-pages.sh
  .github/workflows/bench.yml
  .github/workflows/cargo-cache-warmup.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/fuzz.yml
  .github/workflows/linters.yml
  .github/workflows/release.yml
Due: github-actions-check

docs: fix broken links, heading levels and emphasis used as headings
  .github/PUBLISHING.md
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
  README.md
  SECURITY.md
  docs/COMPARISON.md
  docs/DEVELOPMENT.md
  docs/MIGRATION_GUIDE.md
  docs/PROFILING.md
  docs/ROADMAP.md
  docs/STREAMING.md
  docs/TAG_SYSTEM.md
  docs/YAML_1.2.2_COMPLIANCE.md
  docs/YAML_TEST_SUITE.md
  docs/ZERO_COPY.md
Due: markdown-format-check

build(ci): add script to refresh GitHub Actions version pins
  scripts/update-actions-pins.py
Due: none

docs(site): add VitePress documentation site with mermaid support
  docs/.bun-version
  docs/.nvmrc
  docs/.prettierignore
  docs/.prettierrc
  docs/.vitepress/config.mts
  docs/.vitepress/env.d.ts
  docs/.vitepress/mermaid.ts
  docs/.vitepress/theme/Mermaid.vue
  docs/.vitepress/theme/index.ts
  docs/.vitepress/theme/mermaid-theme.ts
  docs/bun.lock
  docs/bunfig.toml
  docs/eslint.config.js
  docs/index.md
  docs/package.json
  docs/public/favicon.svg
  docs/tsconfig.base.json
  docs/tsconfig.json
Due: markdown-format-check

build(commit): derive commit tooling config from commit-types.toml
  cliff.toml
  commit-types.toml
  scripts/commit-config.py
Due: none

build(commit): wire commit-types.toml as the conventional-commit source of truth
  .gitmessage
  committed.toml
  mise.toml
Due: none

style(toml): normalize deny.toml formatting
  deny.toml
Due: rust-deny

build(hooks): replace pre-commit with hk
  .pre-commit-config.yaml
  hk.pkl
Due: none

fix(commit): restore the 100-char budgets that generation dropped
  commit-types.toml
  committed.toml
  ignorefile.toml
  scripts/commit-config.py
Due: none

fix(docs): serve rustdoc at /api/ from the dev server
  docs/.vitepress/config.mts
  docs/.vitepress/rustdoc-dev.ts
  docs/package.json
  mise.toml
Due: none

fix(roundtrip): replace a production expect with an error branch
  src/roundtrip.rs
Due: rust-fmt, rust-clippy, rust-clippy-tests, rust-check, rust-doc

docs(site): derive the repository slug from GITHUB_REPOSITORY
  docs/.vitepress/config.mts
Due: none

ci: use the in-house toolchain action and keep app-token non-fatal
  .github/workflows/bench.yml
  .github/workflows/cargo-cache-warmup.yml
  .github/workflows/ci.yml
  .github/workflows/fuzz.yml
  .github/workflows/linters.yml
Due: github-actions-check

ci(release): publish docs by calling docs.yml instead of rebuilding
  .github/workflows/docs.yml
  .github/workflows/release.yml
Due: github-actions-check

ci: prefer secrets.GITHUB_TOKEN in the checkout fallback chain
  .github/workflows/bench.yml
  .github/workflows/cargo-cache-warmup.yml
  .github/workflows/docs.yml
  .github/workflows/linters.yml
  .github/workflows/release.yml
Due: github-actions-check

ci: derive the version from version.yml instead of inline GitVersion
  .github/workflows/ci.yml
  .github/workflows/version.yml
Due: github-actions-check

fix(ci): tag from SemVer, not MajorMinorPatch
  .github/workflows/ci.yml
Due: github-actions-check

build(mise): port the GitVersion derivation tasks from glaucus
  mise.toml
Due: none

fix(release): build the docs on a dry run instead of skipping them
  .github/workflows/release.yml
Due: github-actions-check

revert(docs): build and publish rustdoc only
  .github/scripts/create-docs-pages.sh
  .github/workflows/docs.yml
Due: github-actions-check

refactor(docs): hand rustdoc to the site build as an artifact
  .github/workflows/docs.yml
  mise.toml
Due: github-actions-check

ci: split docs into a rustdoc builder and a site publisher
  .githooks/commit-msg
  .github/actionlint.yaml
  .github/actions/bot-setup/action.yml
  .github/workflows/gh-pages.yml
  .github/workflows/publish.yml
  .github/workflows/release.yml
  GitVersion.yml
  docs/.vitepress/rustdoc-dev.ts
  scripts/publish-and-check-docs.sh
Due: github-actions-check

ci(gh-pages): deploy through the Pages artifact instead of peaceiris
  .github/workflows/gh-pages.yml
Due: github-actions-check

ci: run on every branch, not just main and develop
  .github/workflows/ci.yml
Due: github-actions-check

ci: scope permissions per job and pin concurrency groups to literals
  .github/workflows/bench.yml
  .github/workflows/cargo-cache-warmup.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/fuzz.yml
  .github/workflows/gh-pages.yml
  .github/workflows/linters.yml
  .github/workflows/publish.yml
  .github/workflows/release.yml
Due: github-actions-check

fix(ci): confine tagging and releasing to the default branch
  .github/workflows/ci.yml
Due: github-actions-check

fix(changelog): accept vX.Y.Z-N release tags in cliff tag_pattern
  cliff.toml
Due: none

build(mise): cut the changelog from GitVersion behind a version-drift gate
  mise.toml
Due: none

fix(docs): align package.json version with the Cargo.toml anchor
  docs/package.json
Due: none

ci(release): build release notes with the mise changelog task
  .github/workflows/ci.yml
Due: github-actions-check

docs: retarget mise task names at the colon namespace
  README.md
  docs/DEVELOPMENT.md
  docs/ROADMAP.md
  docs/SERDE_INTEGRATION_DESIGN.md
  docs/YAML_CONFORMANCE_ROADMAP.md
  docs/YAML_TEST_SUITE.md
Due: markdown-format-check

docs(hooks): rewrite the pre-commit page for hk
  docs/.vitepress/config.mts
  docs/PRE_COMMIT.md
Due: markdown-format-check

docs(contributing): record the engineering rules this project actually follows
  .clippy.toml
  CONTRIBUTING.md
Due: markdown-format-check

docs: make codecov.yml the single source of truth for coverage policy
  CONTRIBUTING.md
  docs/CODECOV_SETUP.md
  docs/DEVELOPMENT.md
Due: markdown-format-check

fix(emitter): quote strings the resolver would read back as another type
  src/emitter.rs
  tests/integration_tests.rs
Due: rust-fmt, rust-clippy, rust-clippy-tests, rust-check, rust-doc
