Repository elioetibr/rust-yaml: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt, rust-clippy, rust-clippy-tests, rust-check, rust-doc, rust-audit, rust-deny, cargo-lock-check, rust-unused-deps, markdown-format-check, github-actions-check

rust-fmt:
  name: Rust Format (rustfmt)
  entry: cargo fmt --all --
  language: system
  pass_filenames: true
  description: Format Rust code using rustfmt

rust-clippy:
  name: Rust Clippy (strict)
  entry: cargo clippy --lib --bins --all-features -- -D warnings -D clippy::all -D clippy::pedantic -W clippy::nursery
  language: system
  pass_filenames: false
  description: Lint Rust code with strict clippy rules (lib and bins only)

rust-clippy-tests:
  name: Rust Clippy (tests)
  entry: cargo clippy --tests --benches --all-features -- -D warnings -D clippy::correctness -D clippy::suspicious -D clippy::perf -W clippy::style
  language: system
  pass_filenames: false
  description: Lint Rust tests and benchmarks with relaxed rules

rust-check:
  name: Rust Check
  entry: cargo check --all-targets --all-features
  language: system
  pass_filenames: false
  description: Check Rust code compilation

rust-doc:
  name: Rust Documentation
  entry: cargo doc --all-features --no-deps --document-private-items
  language: system
  pass_filenames: false
  description: Check Rust documentation builds

rust-audit:
  name: Rust Security Audit
  entry: bash -c 'if ! command -v cargo-audit >/dev/null; then echo "Installing cargo-audit..." && cargo install cargo-audit; fi && cargo audit'
  language: system
  pass_filenames: false
  description: Run security audit for Rust dependencies

rust-deny:
  name: Rust Deny Check (advisories only)
  ...

cargo-lock-check:
  name: Cargo.lock Check
  entry: bash -c 'output=$(cargo update --dry-run 2>&1); if echo "$output" | grep -q "Locking [1-9]"; then echo "Cargo.lock is outdated. Run cargo update."; exit 1; fi; exit 0'
  language: system
  pass_filenames: false
  description: Ensure Cargo.lock is up to date

rust-unused-deps:
  name: Unused Dependencies
  entry: bash -c 'if ! command -v cargo-machete >/dev/null; then cargo install cargo-machete; fi && cargo machete'
  language: system
  pass_filenames: false
  description: Check for unused dependencies

markdown-format-check:
  name: Markdown Format Check
  entry: make check-markdown
  language: system
  pass_filenames: false
  description: Check markdown formatting for blank lines around headings and lists

github-actions-check:
  name: GitHub Actions Check
  entry: bash -c 'find .github/workflows -name "*.yml" -o -name "*.yaml" | xargs -I {} bash -c "echo Checking {} && cat {} | yq . >/dev/null"'
  language: system
  pass_filenames: false
  description: Validate GitHub Actions workflow syntax

chore: Repository url updates
  .github/ISSUE_TEMPLATE/config.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  Cargo.toml
  LICENSE-APACHE-2.0
  README.md
Due: rust-audit, rust-deny, cargo-lock-check, rust-unused-deps, markdown-format-check, github-actions-check

fix: Complex keys benches issue
  src/emitter.rs
Due: rust-fmt, rust-clippy, rust-clippy-tests, rust-check, rust-doc

docs: Ducuments updates
  README.md
  docs/BENCHMARK_RESULTS.md
  docs/COMPARISON.md
Due: markdown-format-check

chore: Update Cargo.toml version and sorting file keys
  Cargo.toml
Due: rust-audit, rust-deny, cargo-lock-check, rust-unused-deps

chore: Set rust version as 1.85.0
  Cargo.toml
  benches/advanced_features.rs
  benches/dumping.rs
  benches/parsing.rs
  benches/performance.rs
  benches/performance_regression.rs
  benches/profiling.rs
  benches/streaming.rs
  benches/zero_copy.rs
  benches/zero_copy_performance.rs
  docs/DOCS_RS_FIX.md
  examples/library_comparison.rs
  scripts/check-docs-build.sh
  scripts/publish-and-check-docs.sh
  src/composer.rs
  src/composer_borrowed.rs
  src/composer_optimized.rs
  src/lib.rs
  src/parser/mod.rs
  src/parser/streaming.rs
  src/scanner/mod.rs
  src/streaming_async.rs
  src/streaming_enhanced.rs
  src/tag.rs
  tests/indentation_style_preservation.rs
  tests/merge_keys.rs
  tests/performance_and_stress.rs
Due: rust-fmt, rust-clippy, rust-clippy-tests, rust-check, rust-doc, rust-audit, rust-deny, cargo-lock-check, rust-unused-deps, markdown-format-check

ci: Update the release workflow
  .github/workflows/release.yml
  Cargo.toml
Due: rust-audit, rust-deny, cargo-lock-check, rust-unused-deps, github-actions-check

feat: Add comment preservation support in YAML processing
  .github/workflows/ci.yml
  .gitignore
  Cargo.lock
  Cargo.toml
  Makefile
  README.md
  benches/advanced_features.rs
  benches/comment_preservation.rs
  benches/schema_validation.rs
  codecov.yml
  docs/CODECOV_SETUP.md
  examples/advanced_schema_demo.rs
  examples/comment_preservation_demo.rs
  examples/library_comparison.rs
  examples/schema_validation_demo.rs
  examples/yaml_write_example.rs
  lcov.info
  package.json
  src/composer_comments.rs
  src/constructor.rs
  src/emitter.rs
  src/lib.rs
  src/schema.rs
  src/yaml.rs
  tests/comment_preservation_tests.rs
  tests/performance_and_stress.rs
  tests/schema_validation_tests.rs
Due: rust-fmt, rust-clippy, rust-clippy-tests, rust-check, rust-doc, rust-audit, rust-deny, cargo-lock-check, rust-unused-deps, markdown-format-check, github-actions-check

ci: fix lint, format, and security audit failures on main
  .github/actions/setup-cargo-tools/action.yml
  Cargo.lock
  examples/round_trip.rs
  src/emitter.rs
  src/lib.rs
  src/profiling.rs
  src/scanner/mod.rs
  src/value.rs
  src/value_borrowed.rs
  tests/integration_tests.rs
  tests/unit_tests.rs
Due: rust-fmt, rust-clippy, rust-clippy-tests, rust-check, rust-doc, rust-audit, rust-deny, cargo-lock-check

ci: fix nextest cache poisoning and clippy collapsible_match
  .github/actions/setup-cargo-tools/action.yml
  src/scanner/indentation.rs
Due: rust-fmt, rust-clippy, rust-clippy-tests, rust-check, rust-doc

ci: bump GitHub Actions to latest major version tags
  .github/actions/setup-cargo-tools/action.yml
  .github/actions/setup-rust-cache/action.yml
  .github/workflows/bench.yml
  .github/workflows/cargo-cache-warmup.yml
  .github/workflows/ci.yml
  .github/workflows/commitlint.yml
  .github/workflows/docs.yml
  .github/workflows/release.yml
Due: github-actions-check

chore: bump Node to 24
  .nvmrc
Due: none

ci: pin branch-only actions to immutable patch tags
  .github/workflows/bench.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: github-actions-check

fix(deps): patch open Dependabot alerts (rand, fast-uri, lodash)
  Cargo.lock
  package-lock.json
  package.json
Due: rust-audit, rust-deny, cargo-lock-check

fix(composer)!: cap cumulative alias materialization and bound traversal
  benches/advanced_features.rs
  src/composer.rs
  src/composer_borrowed.rs
  src/composer_comments.rs
  src/composer_optimized.rs
  src/limits.rs
  tests/security_limits.rs
Due: rust-fmt, rust-clippy, rust-clippy-tests, rust-check, rust-doc

fix(parser): convert three state-stack underflows from panic to error
  src/parser/mod.rs
  tests/panic_resistance.rs
Due: rust-fmt, rust-clippy, rust-clippy-tests, rust-check, rust-doc

fix(scanner): replace indent_stack panics with safe fallback (#18)
  src/scanner/mod.rs
Due: rust-fmt, rust-clippy, rust-clippy-tests, rust-check, rust-doc

fix(scanner): propagate scan errors from new_eager_with_comments (#19)
  src/scanner/mod.rs
Due: rust-fmt, rust-clippy, rust-clippy-tests, rust-check, rust-doc

fix(test): silence clippy::result-large-err in panic_resistance closure
  tests/panic_resistance.rs
Due: rust-fmt, rust-clippy, rust-clippy-tests, rust-check, rust-doc

test(composer): cover iterative helpers and alias materialization cap
  src/composer_borrowed.rs
  src/composer_optimized.rs
Due: rust-fmt, rust-clippy, rust-clippy-tests, rust-check, rust-doc

release: bump version to 1.0.1
  Cargo.lock
  Cargo.toml
  GitVersion.yml
Due: rust-audit, rust-deny, cargo-lock-check, rust-unused-deps

build: adopt workspace.package for shared crate metadata
  Cargo.lock
  Cargo.toml
  yaml-test-suite/Cargo.toml
Due: rust-audit, rust-deny, cargo-lock-check, rust-unused-deps

build: add profiling profile and flamegraph aliases
  .cargo/config.toml
  .gitignore
  Cargo.toml
Due: rust-audit, rust-deny, cargo-lock-check, rust-unused-deps

docs: add flamegraph profiling guide and from_str report
  docs/PROFILING.md
  docs/PROFILING_REPORT.md
Due: markdown-format-check

release: bump version to 1.1.0
  .github/workflows/ci.yml
  .github/workflows/linters.yml
  .gitignore
  .pre-commit-config.yaml
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  GitVersion.yml
  Makefile
  README.md
  cliff.toml
  docs/DEVELOPMENT.md
  docs/PRE_COMMIT.md
  docs/ROADMAP.md
  docs/SERDE_INTEGRATION_DESIGN.md
  docs/YAML_CONFORMANCE_ROADMAP.md
  docs/YAML_TEST_SUITE.md
  mise.toml
Due: rust-audit, rust-deny, cargo-lock-check, rust-unused-deps, markdown-format-check, github-actions-check

fix(ci): git-cliff release notes fix
  .github/actionlint.yaml
  .github/actions/bot-setup/action.yml
  .github/actions/setup-cargo-tools/action.yml
  .github/actions/setup-rust-cache/action.yml
  .github/workflows/bench.yml
  .github/workflows/cargo-cache-warmup.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/linters.yml
  .github/workflows/release.yml
  .gitleaks.toml
  .yamllint.yaml
Due: github-actions-check

fix(ci): git-cliff release notes fix
  .github/actionlint.yaml
  .github/workflows/ci.yml
  .gitleaks.toml
  .yamllint.yaml
Due: github-actions-check

feat(lib): add source-preserving RoundTripDocument for byte-for-byte round-trips
  src/lib.rs
  src/roundtrip.rs
  tests/roundtrip_document.rs
  yaml-test-suite/tests/roundtrip_fidelity.rs
Due: rust-fmt, rust-clippy, rust-clippy-tests, rust-check, rust-doc

build(toolchain): pin rust 1.97 with clippy, rustfmt, llvm-tools and rust-src
  rust-toolchain.toml
Due: none

refactor(resolver): parse radix prefixes from a lookup table
  src/resolver.rs
Due: rust-fmt, rust-clippy, rust-clippy-tests, rust-check, rust-doc

refactor(serde): rename seq binding to sequence in the Value serializer
  src/serde_integration/value.rs
Due: rust-fmt, rust-clippy, rust-clippy-tests, rust-check, rust-doc

build(cargo): deny rustc and rustdoc warnings workspace-wide
  .cargo/config.toml
Due: none

style(clippy): tighten complexity, arity and type-complexity thresholds
  .clippy.toml
Due: none

style(toml): add taplo as the TOML formatter of record
  taplo.toml
Due: none

build(deps): normalize manifest layout and widen dependency version ranges
  Cargo.lock
  Cargo.toml
Due: rust-audit, rust-deny, cargo-lock-check, rust-unused-deps

build(security): add cargo-audit policy and cargo-vet supply-chain config
  .cargo/audit.toml
  supply-chain/audits.toml
  supply-chain/config.toml
Due: none

test(coverage): add tarpaulin and cargo-mutants configuration
  .cargo/mutants.toml
  tarpaulin.toml
Due: none

build(bench): add cargo-criterion configuration
  Criterion.toml
Due: none

build(lint): migrate markdown and yaml linting to rumdl and yamllint-rs
  .gitleaks.toml
  .markdownlint.json
  .prettierrc.json.license
  .rumdl.toml
  .yamllint
  .yamllint.yaml
Due: none

Path conditions:
  rust-fmt: any of: \.rs$
  rust-clippy: any of: \.rs$
  rust-clippy-tests: any of: \.rs$
  rust-check: any of: \.rs$
  rust-doc: any of: \.rs$
  rust-audit: any of: Cargo\.(toml|lock)$
  rust-deny: any of: (Cargo\.(toml|lock)|deny\.toml)$
  cargo-lock-check: any of: Cargo\.(toml|lock)$
  rust-unused-deps: any of: Cargo\.toml$
  markdown-format-check: any of: \.md$
  github-actions-check: any of: ^\.github/workflows/.*\.(yml|yaml)$
